*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --bgCol : #ffffffcc;
    --gradient : linear-gradient(135deg, #D1F2EB, #0E287C);
    --shadowCol : rgba(72, 61, 139, 0.45);
    --fontCol : #2e4053;
    --fontColBody : #333;
    --inputCol : #fefefe;
    --inputBorderCol : #ccd1d1;
    --submitCol : #0e287c;
  }

  body {
    display: flex;
    flex-flow: column wrap;
    font-family: arial;
    font-weight: 600;
    color: var(--fontCol);
    height: 100vh;
    text-align: center;
    background-image: var(--gradient);
  }

  h1 {
    color: var(--fontColBody);
    font-size: 2rem;
    font-family: arial;
    font-weight: bold;
  }

.wrapper {
  color: var(--fontCol);
  min-width: fit-content;
  width: 50%;
  margin: auto;
  box-shadow: 0 0 2rem var(--shadowCol);
  border-radius: 1rem;
  background: var(--bgCol);
}

form {
  display: flex;
  flex-flow: column wrap;
  min-width: fit-content;
  gap: 0.5rem;
  padding: 2rem;
}

span {
  color: red;
}

label {
  display: block;
  text-align: left;
}

input, select{
    font-size: 1rem;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: var(--inputCol);
    /* border-style: solid thick var(--inputBorderCol); */
}

button {
  box-sizing: content-box;
  background: var(--submitCol);
  padding: 0.75rem, 1.5rem;
  font-size: 1.1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
}